.team-box {
    height: 500px;
    border: none;
}

.team-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    /* line-height: 64px; */
    /* identical to box height, or 229% */

    color: #2E2E2E;
}

.team-role {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* line-height: 64px; */
    /* identical to box height, or 267% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #3FAE04;

}

.team-imgs {
    height: 300px;
    width: 300px;
    border-radius: 100px;
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    .team-box {
        height: 200px;
        border: none;
    }

    .team-name {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #2E2E2E;
    }

    .team-role {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #3FAE04;
    }

    .team-imgs {
        height: 134px;
        width: 134px;
        border-radius: 100px;
        margin-left: 20px;
    }

}